/* Style sheet for my HTMLized version of the GPL */
/* $Id: COPYING.css,v 1.1 2000/02/27 11:56:36 pdc Exp $ */

h1, h2 {
	text-align:	center;
}

h1 {
	font-size:	150%;
}

h2 {
	font-size:	100%;
}

p.indent {
	margin-top:	1ex;
	text-indent:	2em;
}

p.noindent {
	margin-top:	1ex;
	text-indent:	0em;
}

li {
	margin-top:	0.5ex;
}

ul {
	margin-top:	0ex;
}
